body {
    background: #341256;
    color: #fff;
}

a{
    color: #fff;
    text-decoration: none;
}

img{
    width: 400px;
    height: 300px;
}

.center{
    width: 750px;
    margin: 0 auto;
    text-align: center;
}